* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    align-items: center;
}

.box {
    width: 20% ;
    height: 60%;
    justify-self: center;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 1em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
}

#img {
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 1em;
}

.headline, .para {
    width: 90%;
    justify-self: center;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    line-height: 1.2em;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 0.95em;
    line-height: 1.3em;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

body {
    background-color: hsl(212, 45%, 89%);
}

@media all and (max-height: 800px) {
    h1 {
        font-size: 1.2em;
        line-height: 1em; 
    }

    p {
        font-size: 0.8em;
        line-height: 1em;
    }
    
}




@media all and (max-width: 400px) {
    .box {
        width: 90%;
    }
    h1 {
        font-size: 1.4em;
        line-height: 1.2em; 
    }

    p {
        font-size: 0.9em;
        line-height: 1em;
    }
}


